.footer{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #FFFFFF;
    width: 100%;
    position: relative;
    z-index: 200;
    color: #434343;
    padding:  20px;
}
.footer .logo-wrapper{
    flex-direction: column;
    gap: 10px;
}
.footer .logo-wrapper span{
    font-size: 1.3rem;
}
.footer-item .title{
    font-size: 1rem;
    color: #111;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.link-list{
    list-style-type: none;
}
.item-link{
    color: #434343;
    text-transform: capitalize;
    text-decoration: none;
    font-size: .8rem;
}
.contact-item{
    font-size: .8rem;
    margin-bottom: 10px;
}
.contact-icon{
    color: #434343;
}
.contact-icons{
    display: flex;
    gap: 12px;
}
.newsletter-container{
    flex: .5;
}
.newsletter-container p{
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 5px;
}
.NL-Input-wrapper{
    display: flex;
    width: fit-content;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
}
.newsLetter-input{
    outline: 0;border: 0;
    background-color: transparent;
    padding: 9px 5px;
    color: #111;
}
.newsLetter-input::placeholder{
    color: #434343;
}
.joinNewsletter-btn{
    outline: 0;border: 0;
    padding: 9px 14px;
    background-color: #FF4F00;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}
.joinNewsletter-btn .icon{
    color: white;
}