.sidebar-container{
    position: fixed;
    left: 0;top: 0;
    min-width:180px;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px 30px;
    background-color: #FFF;
    color:#4F4F4F;
    display: flex;
    flex-direction: column;
    z-index: 100;
}
.sidebar-container::-webkit-scrollbar{
    display: none;
}
.sidebar-container .logo-wrapper{
    margin-bottom: 10px;
}
.sidebar-container .logo-wrapper span{
    font-size: 1.2rem;
}
.sidebar-content{
    margin: 16px 0;
}
.dashboard{
    border-bottom: 1px solid #AFAEAE;
    padding-bottom: 2rem;
}
.sidebar-content .title{
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 6px;
}
.list{
    list-style-type: none;
    text-transform: capitalize;
}
.link{
    display: flex;
    gap:10px;
    align-items: center;
    margin: 14px 0;
    font-size: .7rem;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    color: #4F4F4F;
}
.dashboard{
    margin-bottom: 4px;
}
.settings{
    margin-top: 4px;
}
.logout, .logout-icon{
    font-weight: 600;
    color: #FF0800;
}