.navbar-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  /* margin-bottom: 10px; */
  z-index: 1000;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 18px;
  font-size: 0.8rem;
  text-transform: capitalize;
}
.menu-item{
  text-decoration: none;
}
.right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.avatar-container{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #5F5F5F;
}
.avatar-container .avatar {
  object-fit: cover;
  width: 100%;height: 100%;
  border-radius: inherit;
}
.login-btn{
  padding: 7px 15px;
  background-color: #FF4F00;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}
.icon-btns{
  color: #5F5F5F;
  cursor: pointer;
}